<%= render layout: 'notebook_layout', locals: { title: "お散歩記録" } do %>
  <% if @dates.any? %>
    <% @dates.each do |data| %>
      <%= link_to date_walking_logs_path(date: data[:date]), class: "log-item" do %>
        <span class="log-date-label">
          <%= data[:date].strftime("%Y / %m / %d") %>
        </span>
        
        <div class="log-main-row">
          <div class="log-steps">
            <%= number_with_delimiter(data[:total_steps]) %><small>steps (Total)</small>
          </div>
          
          <div class="log-info-right">
            <div class="log-duration">
              <%= data[:total_duration] / 60 %> min
            </div>
            <div class="log-exp" style="font-size: 11px;">
              タップして詳細を表示
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="no-data-msg">
      <p>まだ記録がありません。</p>
    </div>
  <% end %>
<% end %>